.sticky-table-header-container {
	max-width: 100%;
	overflow: auto;
}

/* Use the table as a relative container. */
table.sticky-table-header {
	position: relative;
	border-collapse: separate;
	border-spacing: 0;
}

/* Headers need a background color, otherwise the content of body cells can be
   seen underneath. */
table.sticky-table-header th {
	background-color: white;
}

/* By default, style the top, left borders of all cells (header and body). For
	 now, this leaves right and bottom cells open. */
table.sticky-table-header td, table.sticky-table-header th {
	border: none;
	border-top: 1px solid grey;
	border-left: 1px solid grey;
}

/* For the last cells in each row, add the right border. */
table.sticky-table-header td:last-child, table.sticky-table-header th:last-child {
	border-right: 1px solid grey;
}

/* For the last header row, ensure there is a border separating it from the
  cells scrolling underneath it as it scrolls over them. */
table.sticky-table-header thead tr:last-child th {
	border-bottom: 1px solid grey;
}

/* The first body row's border comes from the header cells, so it's not needed
   here */
table.sticky-table-header tbody tr:first-child td {
	border-top: none;
}

/* Add a border to the final row that's displayed. */
table.sticky-table-header tr:last-child td {
	border-bottom: 1px solid grey;
}
